# PyCharm and VS Code
.idea/
.vscode/

# Python build artifacts
__pycache__/
*.py[cod]
*$py.class
dist/
build/
*.egg-info/
*.pyd
*.so

#Private tests
test2.py
test_guardian.py

# Environments
.venv/
venv/
env/